.wrapper {
    min-width: 280px;
    min-height: 180px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    margin-top: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 1.8rem;
    color: rgb(22, 24, 35);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check {
    font-size: 1.6rem;
    padding-left: 8px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    max-width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.analytics {
    margin-top: 12px;
}

.value,
.label {
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 18px;
}
